.container {

    display: grid;
    /*grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;*/
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
      
 }
.cell {
    background-color: white;
    font-size: 30px;
    text-align: center;
    color: white;
}

.cell:hover {
    background-color: black;
    color: black;
}

.cell-hover {
    background-color: black;
    color: black;
}